* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: calc(100% - 56px);
  padding: 0 16px;
  overflow-y: auto;
}


a {
  color: #fff;
  text-decoration: none;
}